{{ if and (ne .Params.toc false) (ne .TableOfContents "<nav id=\"TableOfContents\"></nav>") -}}
  <div class="page-links">
    <h3>{{i18n "on-this-page"}}</h3>
    {{ .TableOfContents }}
  </div>
{{ end -}}
